server:
  port: 8001


spring:
  application:
    name: cloud-payment-service
  datasource:
    url: "jdbc:mysql://39.106.27.239:3306/mydbTest?zeroDateTimeBehavior=convertToNull&useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&autoReconnectForPools=true&allowMultiQueries=true"
    username: root
    password: 12345678
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource



mybatis:
  mapper-locations: classpath:mapper/*.xml
#  type-aliases-package: com.com.springcloud.entities